#kbNavInput {
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-size: x-large;
    width: 36pt;
    position: fixed; /* no worky in ie6 */
    top: 10px;
    left: 10px;
    outline: 0;
    border: 2px solid #CCC;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
